.desk-layout {
    width: 100%;
    height: 400px;
    background-color: $color6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
}
.desk {
    width: 100px;
    height: 100px;
    margin: 1rem;
    background-color: $color4;
    border: 3px solid black;
    border-radius: 5%;
    touch-action: none;
    user-select: none;
    text-align: center;
}