@import url('https://fonts.googleapis.com/css2?family=Halant:wght@500&family=Nunito+Sans:wght@300;600&display=swap');

h1, h2, h3, h4, h5, li {
    font-family: $primary-font;
}

p, a, label, input, button {
    font-family: $secondary-font;
}