$color1: #23362B; //Navigation Color
$color2: #1BB28C; //Reserved Desk
$color3: #E86E58; //Unreservable Desk
$color4: #FED48B; //Accent Color
$color5: #9BC7C5; //Menu Color
$color6: #EFEEEA; //Floor Background

$desk-width: 40px;
$desk-height: 40px;

$primary-font: 'Halant', serif;
$secondary-font: 'Nunito Sans', sans-serif;