/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@500&family=Nunito+Sans:wght@300;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, li {
  font-family: "Halant", serif;
}

p, a, label, input, button {
  font-family: "Nunito Sans", sans-serif;
}

.desk-layout {
  width: 1280px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EFEEEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  border: 3px #23362B solid;
  border-radius: 5px;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
}

.desk {
  width: 40px;
  height: 40px;
  background-color: #FED48B;
  opacity: 90%;
  border: 3px solid black;
  border-radius: 8%;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 2.5rem;
  position: absolute;
}

.desk a, .desk a:active {
  text-decoration: none;
  color: black;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.desk-remover {
  font-size: .6em;
  content: "X";
  position: relative;
  background-color: #E86E58;
  padding: 5px;
  border-radius: 5px;
}

.desk:target {
  background-color: #1BB28C;
}

.toolbox {
  padding: 1rem;
  background-color: #9BC7C5;
  border-radius: 5px;
  text-justify: center;
}

.image-uploader {
  padding: 1rem;
  background-color: #9BC7C5;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.image-uploader p {
  text-decoration: underline;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.page-wrapper {
  margin: 3rem;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wrapper > * {
  margin: 1rem;
}

/*
.span-7 {
    column-span: 7;
}



.desk-layout {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
}


.toolbox {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: span 1;
}

.image-uploader {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 5;
    grid-row-end: span 1;
}
*/
.nav-bar {
  background-color: #23362B;
  border-radius: 5px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 1rem;
  font-size: 1.5rem;
}

.nav-list li {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-list :nth-child(2) {
  font-size: 2rem;
}

.nav-list :nth-child(1) a, .nav-list :nth-child(3) a {
  text-decoration: underline;
  color: white;
}

.designer-menu > * {
  margin: 1rem;
}
/*# sourceMappingURL=styles.css.map */